<table *ngIf="unVehiculo" class="w3-table w3-bordered w3-striped w3-border test w3-hoverable">
  <tr class="w3-red">
    <th>Modelo</th>
    <th>Tipo</th>
    <th>Año</th>
    <th>Foto</th>
  </tr>
  <tr>
    <td>
      <input type="text" [(ngModel)]="unVehiculo.modelo"> </td>
    <td>
      <select name="tipo" [(ngModel)]="unVehiculo.tipo">
        <option value="" disabled selected>Choose your option</option>
        <option value="auto">Auto</option>
        <option value="moto">Moto</option>
      </select>
    </td>
    <td>
      <input type="number" [(ngModel)]="unVehiculo.anio">
    </td>
    <td>
      <img src='{{unVehiculo.foto}}' class="w3-image w3-circle" style="width:140%;max-width:100px">
    </td>
  </tr>
</table>
<br>
<button pButton type="button" (click)="Modificar()" label="Modificar" class="ui-button-warning" *ngIf="unVehiculo"></button>