<app-buscar (Cargado)="Cargado($event)">

</app-buscar>
<br>
<br>
<table class="w3-table w3-bordered w3-striped w3-border test w3-hoverable">
  <tr class="w3-red">
    <th>Modelo</th>
    <th>Tipo</th>
    <th>Año</th>
    <th>Foto</th>
    <th>Ver</th>
    <!--    -->
      <th>Modificar</th> 
 
    <th>Borrar</th>
  </tr>
  <tr *ngFor="let vehiculo of vehiculos">
    <td *ngIf="vehiculo.tipo=='auto'" class="auto">{{vehiculo.modelo}}</td>
    <td *ngIf="vehiculo.tipo=='moto'" class="moto">{{vehiculo.modelo}}</td>
    <td *ngIf="vehiculo.tipo=='auto'" class="auto">{{vehiculo.tipo}}</td>
    <td *ngIf="vehiculo.tipo=='moto'" class="moto">{{vehiculo.tipo}}</td>
    <td *ngIf="vehiculo.tipo=='auto'" class="auto">{{vehiculo.anio}}</td>
    <td *ngIf="vehiculo.tipo=='moto'" class="moto">{{vehiculo.anio}}</td>
    <td>
      <img src='{{vehiculo.foto}}' class="w3-image w3-circle" style="width:140%;max-width:100px">
    </td>
    <td>
      <p-button label="Ver" (click)="Ver(vehiculo)"></p-button>
    </td>
    <!-- -->
    <td>
      <button pButton type="button" (click)="Modificar(vehiculo)" label="Modificar" class="ui-button-warning"></button>
    </td>

    <td>
      <button pButton type="button" (click)="Borrar(vehiculo.id)" label="Borrar" class="ui-button-danger"></button>
    </td>
  </tr>
</table>
<br>
<br>
<app-un-vehiculo [unVehiculo]="vehiculoDelListado"></app-un-vehiculo>
<app-modificar [unVehiculo]="vehiculoDelListadoM"></app-modificar>