<p>
  listado-vehiculos works!
</p>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- <h3 class="first">Tabla</h3>
<p-table [value]="cols">
  <ng-template pTemplate="header">
    <tr>
      <th>Modelo</th>
      <th>Tipo</th>
      <th>Año</th>
      <th>Foto</th>
      <th>Borrar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body">
    <tr *ngFor="let vehiculo of vehiculos">
      <td class="auto">{{vehiculo.modelo}}</td>
      <td>{{vehiculo.tipo}}</td>
      <td>{{vehiculo.anio}}</td>
      <td>
        <img src='{{vehiculo.foto}}' class="w3-image w3-circle">
      </td>
      <td>
        <p-button label="Borrar" (click)="Borrar(vehiculo.id)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table> -->
<app-buscar></app-buscar>
<br>
<table class="w3-table w3-bordered">
  <tr>
    <th>Modelo</th>
    <th>Tipo</th>
    <th>Año</th>
    <th>Foto</th>
    <th>Ver</th>
    <th>Borrar</th>
  </tr>
  <tr *ngFor="let vehiculo of vehiculos">
    <td *ngIf="vehiculo.tipo=='auto'" class="auto">{{vehiculo.modelo}}</td>
    <td *ngIf="vehiculo.tipo=='moto'" class="moto">{{vehiculo.modelo}}</td>
    <td *ngIf="vehiculo.tipo=='auto'" class="auto">{{vehiculo.tipo}}</td>
    <td *ngIf="vehiculo.tipo=='moto'" class="moto">{{vehiculo.tipo}}</td>
    <td *ngIf="vehiculo.tipo=='auto'" class="auto">{{vehiculo.anio}}</td>
    <td *ngIf="vehiculo.tipo=='moto'" class="moto">{{vehiculo.anio}}</td>
    <td>
      <img src='{{vehiculo.foto}}' class="w3-image w3-circle" style="width:140%;max-width:100px">
    </td>
    <td>
      <p-button label="Ver" (click)="Ver(vehiculo)"></p-button>
    </td>
    <td>
      <p-button label="Borrar" (click)="Borrar(vehiculo.id)"></p-button>
    </td>
  </tr>
</table>
<br>
<app-un-vehiculo [unVehiculo]="vehiculoDelListado"></app-un-vehiculo>